/* src/MaterialList.css */

.MaterialList {
    margin: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
}

li:hover {
    border-color: #007bff;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}
